numpy==1.26.4
tensorboard
scipy
opencv-python
tqdm
matplotlib
pyyaml
plyfile
yacs
evo
numba
einops
pypose
kornia
imageio
imageio-ffmpeg
# torch-scatter
# setuptools==75.8.2
setuptools==64.0.3
scikit-sparse