*/.ipynb/*\noutput/
base_model/weights/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/*/*/*/.ipynb_checkpoints/*
__pycache__/
*/__pycache__/
models/*
output/*
evaluation/*
test_dataset/*
output_cam2/*
output_finetune/*

dataset.json
concat_images_to_video.py
psnr_calculate.py
launch.json
dataset_c-4b1.json
images_origin_fixercam02
datasets/*