debug_utils/train_data_res
debug_utils/train_data_full
debug_utils/debug_clips.py
__pycache__/
*/__pycache__/
*/.DS_Store
*.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*/local_git_sha.txt